*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0.1px;
}

.zendesk-main {
  position: relative;
  width: 30.7rem;
  height: 35.2rem;
  border: 0.1rem solid #777777;
  border-radius: 2px;
  margin-top: 10rem;
  margin-left: 10rem;
  color: #353535;
}

.head {
  margin: 0.35rem 1.5rem 0.35rem;
  display: flex;
  justify-content: space-between;
}
.head p {
  font-size: 0.85rem;
}

.main-nav {
  display: flex;
  height: 3rem;
  border: solid #BABABA;
  border-width: 0.1rem 0rem;
  justify-content: space-between;
  margin-top: 0.4rem;
}
.main-nav .logo-totvs {
  margin-right: 1.4rem;
  transition: transform 0.5s ease;
}
.main-nav .logo-totvs:hover {
  transform: scale(1.04);
}
.main-nav .btn-aside {
  display: flex;
  margin-left: 1.5rem;
}
.main-nav .btn-aside *:focus {
  outline: none;
}
.main-nav .btn-aside:focus {
  outline: none;
}
.main-nav .btn-aside #toggle-button {
  width: 5rem;
  height: 2.85rem;
}
.main-nav #toggle-button {
  background-color: #ffffff;
  border: none;
  transition: 100ms;
}
.main-nav #toggle-button:hover {
  background-color: #EDEDED;
}
.main-nav #toggle-button:hover img {
  fill: #353535;
}

.select {
  justify-content: space-around;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  width: 11.8rem;
  height: 2rem;
}
.select span {
  font-size: 0.85rem;
  max-width: 90px;
  max-height: 20px;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #353535;
}
.select p {
  font-size: 12px;
  margin: auto;
  color: #353535;
}

.status-color {
  width: 0.8rem;
  height: 0.8rem;
  background: #5AF07B;
  border-radius: 3rem;
  margin-left: 0.9rem;
}

section {
  width: 600px;
  height: 400px;
}

.back-img {
  margin: 3.8rem 3.7rem;
}

.select {
  display: flex;
}

.dropdown {
  position: relative;
  margin: auto;
  margin-left: 7.5rem;
}
.dropdown button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dropdown button:hover {
  background-color: transparent;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.select-clicked {
  border: 0.1rem solid #353535;
}

.select:hover {
  background-color: #EBF6ED;
}

.caret {
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #ffffff;
  border: 0.1rem solid #BABABA;
  border-radius: 0 0 0.2rem 0.2rem;
  position: absolute;
  top: 2.42em;
  width: 11.8rem;
  height: 22rem;
  overflow: hidden;
  overflow-y: scroll;
  opacity: 0;
  display: none;
  z-index: 1;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
}

.menu li {
  padding: 0.7em 0.5em;
  font-size: 0.85rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #353535;
  font-size: 12px;
  cursor: pointer;
}
.menu li:hover {
  background-color: #EAEBFF;
}

.active {
  background-color: #EAEBFF;
}

.menu-open {
  display: block;
  opacity: 1;
}

.search-style {
  display: flex;
  position: sticky;
  font-size: 12px;
  top: 0.8rem;
  width: 11.8rem;
  height: 1.2rem;
  margin: 0.8rem -0.08rem;
  text-indent: 10px;
  border: 0.1rem solid #a8a8a8;
}
.search-style:focus {
  outline: none;
  border-color: #727272;
}

.search-style::-moz-placeholder {
  text-indent: 10px;
}

.search-style::placeholder {
  text-indent: 10px;
}

.call-event {
  border: 0.1rem solid #989898;
  border-radius: 2px;
  width: 20rem;
  height: 11rem;
  margin: 17rem 6rem;
  display: none;
  background-color: #FCFCFC;
  overflow: hidden;
  position: absolute;
}

.call-event.show {
  display: block;
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.head-info {
  display: flex;
  border-bottom: 0.1rem solid #b8b7b7;
  height: 35%;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
}
.head-info .call-wait-timer {
  margin: auto 0;
}

.phone-icon {
  display: flex;
  background-color: #5AF07B;
  border: 0.1rem solid #1E7B32;
  width: 2rem;
  height: 2rem;
  margin: auto 0;
  border-radius: 3000rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
}
.phone-icon:hover {
  background-color: #b3ffc1;
  border-color: #1e9938;
}
.phone-icon img {
  width: 0.7rem;
}

.number-info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-left: -2rem;
}

.call-status-btn {
  margin: auto 0;
  width: 3.5rem;
  height: 2rem;
  border-radius: 10rem;
  background-color: #5AF07B;
  border: 0.1rem solid #1E7B32;
  color: #1E7B32;
  font-size: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}
.call-status-btn:hover {
  background-color: #b3ffc1;
  border-color: #1e9938;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}
.info li {
  font-size: 12px;
  margin: 0.3rem;
}

.titles {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 1rem;
  color: #616161;
}

.datas {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 1rem;
  color: #353535;
}
.datas li {
  cursor: pointer;
  max-width: 8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.datas li:hover {
  background-color: #EDEDED;
}

.dialer-fat {
  position: relative;
}

.dialer {
  position: absolute;
  top: 2.42em;
  background-color: #ffffff;
  width: 11.8rem;
  height: 22rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  margin-top: 0.45rem;
  z-index: 1000;
}

#display {
  box-sizing: border-box;
  width: 11.8rem;
  height: 5rem;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-size: 12px;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  color: #353535;
  text-align: center;
}
#display:focus {
  outline: none;
  border-color: #727272;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.number {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #353535;
  transition: 0.2s ease;
}
.number:hover {
  background-color: #ebebeb;
}

.clear {
  grid-column: 1/4;
  width: 11.8rem;
  cursor: pointer;
  background-color: #ebebeb;
  color: #353535;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  transition: 0.2s ease;
}
.clear:hover {
  background-color: #f0f0f0;
}
.clear:focus {
  outline: none;
  border-color: #727272;
}

.call {
  grid-column: 1/4;
  width: 11.8rem;
  cursor: pointer;
  background-color: #45d164;
  color: #ffffff;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  height: 2rem;
  transition: 0.2s ease;
}
.call:hover {
  background-color: #079c27;
}
.call:focus {
  outline: none;
  border-color: #727272;
}

.opener {
  display: flex;
}

.incall {
  margin: 1px 1px;
  border: 0.1rem solid #BABABA;
  width: 29rem;
  height: 16rem;
  margin: -491px 677px;
  border-radius: 2px;
  max-height: 16rem;
  overflow: auto;
}

.incall-head {
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  height: 3.5rem;
  border-bottom: 0.1rem solid #989898;
  z-index: 1;
  align-items: center;
}
.incall-head h3 {
  font-size: 12px;
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
}

.incall-head-info {
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  background-color: #D9F1DE;
  height: rem;
  width: 4.5rem;
  border-radius: 2rem;
  justify-content: space-around;
  align-items: center;
}
.phone p {
  font-size: 12px;
  color: #616161;
  margin-right: 0.3rem;
}
.phone div {
  display: flex;
  height: 1.5rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: #5AF07B;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.phone div:hover {
  background: #43ce61;
}
.phone div img {
  width: 0.6rem;
}

.icons {
  display: flex;
  margin-left: 16.5rem;
}
.icons div {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: 0.25 ease;
}

.pause-icon {
  background-color: #CDCDCD;
  position: relative;
  transition: 0.25s;
}
.pause-icon:hover {
  background-color: #BABABA;
}
.pause-icon:hover::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292928;
  font-size: 12px;
  border-radius: 2px;
  color: white;
  top: 2.3rem;
  font-weight: 400;
  height: 1.5rem;
  width: 4.5rem;
  position: absolute;
  content: "Stop";
}

.end-icon {
  background-color: #BA0707;
  position: relative;
}
.end-icon:hover {
  background-color: #a30404;
}
.end-icon:hover::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292928;
  font-size: 12px;
  border-radius: 2px;
  color: white;
  top: 2.3rem;
  font-weight: 400;
  height: 1.5rem;
  width: 4.5rem;
  position: absolute;
  content: "End";
}

.incall-main {
  display: flex;
  position: relative;
  overflow: scroll;
}
.incall-main:hover .datas p {
  transition: 0.25s ease;
  cursor: pointer;
}
.incall-main:hover .datas p:hover {
  background-color: #e9e9e9;
}
.incall-main p {
  font-size: 12px;
  margin: 0.5rem;
}

.login {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 9999;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 3.5rem;
}

.login-head {
  margin-left: 0.3rem;
  display: flex;
  border-bottom: 0.2rem solid #000000;
  align-items: center;
  width: 23rem;
  justify-content: space-between;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
  font-weight: 500;
}
.login-form div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.login-form input {
  height: 2.5rem;
  border: 0.1rem solid #BABABA;
  border-radius: 2px;
  text-indent: 7px;
  width: 23rem;
}
.login-form input:focus {
  border-color: #353535;
  outline: none;
}
.login-form button {
  height: 2.5rem;
  background-color: black;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  width: 23rem;
  cursor: pointer;
  transition: 0.25s ease;
}
.login-form button:hover {
  background-color: #ffffff;
  border: 0.1rem solid #000000;
  color: #000000;
}

.right-foot-creep {
  width: 23rem;
  height: 0.2rem;
  border-top: 0.2rem solid #000000;
  margin-left: 0.3rem;
}

.griddy {
  margin: 0 auto;
  width: 2.5rem;
}

.close {
  display: none;
}/*# sourceMappingURL=style.css.map */