.call-event{
    border: 1px solid #989898;
    border-radius: 2px;
    width: 20rem;
    height: 11rem;
    margin: 18rem 9.8rem;
    display: none;
    background-color: #FCFCFC;
    overflow: hidden;
    position: absolute;

}
.call-event.show {
    display: block;
    animation: slide-in 0.5s ease-out;
  }
@keyframes slide-in {
    from {
      transform: translateX(40%);
    }
    to {
      transform: translateX(0%);
    }
  }
.head-info{
display: flex;
border-bottom: 01px solid #b8b7b7;
height: 35%;
display: flex;
font-size: 12px;
justify-content: space-around;
.call-wait-timer{
    margin: auto 0;
}


}

.phone-icon{
    display: flex;
    background-color: #5AF07B;
    border: 01px solid #1E7B32;
    width: 2rem;
    height: 2rem;
    margin: auto 0;
    border-radius: 3000rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s ease;
    &:hover{
        background-color: #b3ffc1;
        border-color: #1e9938;
    }
    img{
        width: 0.7rem;
    }    
}
.number-info{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: -2rem;
}
.call-status-btn{
    margin: auto 0;
    width: 3.5rem;
    height: 2rem;
    border-radius: 10rem;
    background-color: #5AF07B;
    border: 01px solid #1E7B32;
    color: #1E7B32;
    font-size: 12px;
    cursor: pointer;
    transition: .25s ease;
    &:hover{
        background-color: #b3ffc1;
        border-color: #1e9938;
    }
}

.info{
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    li{
        font-size: 12px;
        margin: 0.3rem;
    }
}
.titles{
    z-index: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1rem;
    color: #616161 ;
}
.datas{
    z-index: 
    1;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1rem;
    color: #353535;
    li{
        cursor: pointer;
        max-width: 8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover{
            background-color: #EDEDED;
        }
    }
}