
.select{
    display: flex;
    
}
.dropdown{
    position: relative;
    margin: auto;
    margin-left: 4.8rem;
    button{
        
        margin-right: 0.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover{
            background-color: transparent;
        }
    }
}
.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-clicked{
    border: 1px solid #353535;
}

.select:hover{
 background-color: #EBF6ED;
}

.caret{
    transition: 0.3s;
}


.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    background: #ffffff;
    border: 1px solid #ADADAD;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 2.42em;
    width: 12rem;
    height: 21rem;
    overflow: hidden;
    overflow-y: scroll;
    opacity: 0;
    display: none;
    z-index: 1;
    scroll-behavior: smooth;
    border-top: transparent;
    overflow: auto;
    overflow-x: hidden;
}
.menu li {
    padding: 0.7em 0.5em;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #353535;
    font-size: 12px;
    cursor: pointer;
    &:hover{
        background-color: #EAEBFF;
    }
}
.active{
    background-color: 
    #EAEBFF;
}
.menu-open{
    display: block;
    opacity: 1;
    z-index: 3;
}
.search-style{
    display: flex;
    position: sticky;
    font-size: 12px;
    top: .8rem;
    width: 10.5rem;
    height: 1.5rem;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    text-indent: 23px;
    border: 01px solid #b8b7b7;
    
    &:focus{
        outline: none;
        border-color: #727272;
    }
    

}
.search-style::placeholder {
    text-indent: 23 px;
  }
  .search-style{
    background-image: url('search1.svg');
    background-repeat: no-repeat; 
    background-size: 14px 14px;
    background-position: 4px;
    }  
