
.zendesk-main{
    background-color: #FFFFFF;
    position: relative;
    width: 25rem;
    height: 30rem;
    border: 1px solid #5c5c5c;
    border-radius: 2px;
    color: #353535;
    /* !!CASO QUEIRA ADCIONAR A ILUSTRAÇÃO NO FUNDO!!
    :background-image: url('../../svg/main-ilustration.svg');
    background-repeat: no-repeat;
    background-position: center center;*/
}
.head{
    margin: .35rem 1.5rem .35rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    
    p{
        font-size: .85rem;
    }
}
.main-nav{
    background-color: #ffffff;
    z-index: 3;
    display: flex;
    height: 3.0rem;
    border: solid #8c8c8c;
    border-width: 1px 0;
    justify-content: space-between;
    margin-top: 0.4rem; 
    .logo-totvs{
        margin-right: 0.7rem;
        transition: transform 0.5s ease;
        
        &:hover{
            transform: scale(1.04);
        }
    }
    .btn-aside{
        display: flex;
        margin-left: 1.5rem;
        *{
            &:focus{
                outline: none;
            }
        }
        &:focus{
            outline: none;
        }
        #toggle-button{
            width: 3rem;
            height: 2.85rem;
        }
    }
    #toggle-button{
        background-color: #ffffff;
        border: none;
        transition: 100ms;
        &:hover{
            background-color: #EDEDED;
            img{
                fill: #353535;
            }
        }
    }
}
.select{

    justify-content: space-around;
    border: 1px solid #989898;
    border-radius: 2px;
    width: 10.5rem;
    height: 2.0rem;
    span{
        font-size: .85rem;
        max-width: 90px;
        max-height: 20px;
        margin: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #353535;
        
    }
    p{
        font-size: 12px;
        margin: auto;
        color: #353535;
    }
}
.status-color{
    width: .8rem;
    height: .8rem;
    background: #5AF07B;
    border-radius: 3.0rem;
    margin-left: .5rem;
    margin-right: .2rem;
}

section{
    width: 600px;
    height: 400px;
}

.back-img{
    margin: 3.8rem 3.7rem;
    
}