
.progress-container {
    width: 60%;
    background-color: #231616;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 2px;
    margin-top: 2rem;
  }     
  
  .progress-bar {
    height: 10px;
    background-color:#ffffff;
    width: 0%;
    border-radius: 100px;
  }

  .loading{
    background-color: #231616;
    position: absolute;
    z-index: 999999;
    width: 25rem;
    height: 30rem;
    border: 1px solid #231616;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .title{
        font-weight: 700;
        font-size: 16px;
    }
    p{
     font-weight: 400;
     color: #FFFFFF;
     margin-top: 10px;
     font-size: 14px;
    }
    img{
        margin-top: -173px;
        margin-bottom: 100px;
    }
}

.zendesk-main{
    background-color: #f8f8f8;
    position: relative;
    width: 25rem;
    height: 30rem;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    color: #353535;
    /* !!CASO QUEIRA ADCIONAR A ILUSTRAÇÃO NO FUNDO!!
    :background-image: url('../../svg/main-ilustration.svg');
    background-repeat: no-repeat;
    background-position: center center;*/
}
.head{
    margin: .35rem 0.7rem .35rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    
    p{
        font-size: .85rem;
    }
}
.main-nav{
    background-color: #FDFDFD;
    z-index: 3;
    display: flex;
    height: 3.0rem;
    border: solid #ADADAD;
    border-width: 1px 0;
    justify-content: space-between;
    margin-top: 0.4rem; 
    .logo-totvs{
        margin-right: 0.7rem;
        transition: transform 0.5s ease;
        
        &:hover{
            transform: scale(1.04);
        }
    }
    .btn-aside{
        display: flex;
        margin-left: 1.5rem;
        *{
            &:focus{
                outline: none;
            }
        }
        &:focus{
            outline: none;
        }
        #toggle-button{
            width: 3rem;
            height: 2.85rem;
        }
    }
    #toggle-button{
        background-color: #fdfdfd;
        border: none;
        transition: 0.2s ease;
        &:hover{
            background-color: #EDEDED;
            cursor: pointer;
            img{
                fill: #353535;
            }
        }
    }
}
.select{

    justify-content: space-around;
    border: 1px solid #989898;
    border-radius: 20px;
    width: 12rem;
    height: 2.0rem;
    span{
        font-size: 0.85rem;
        max-width: 130px;
        max-height: 62px;
        margin: 5px;
        overflow: hidden;
        white-space: nowrap;
        color: #353535;
        color: #353535;
        
    }
    p{
        font-size: 12px;
        margin: auto;
        margin-right: 0.5rem;
        color: #353535;
    }
}
.status-color{
    width: .8rem;
    height: .8rem;
    background: #5AF07B;
    border-radius: 3.0rem;
    margin-left: .5rem;
    margin-right: .2rem;
}

section{
    width: 600px;
    height: 400px;
}

.back-img{
    margin: 3.8rem 3.7rem;
    
}

.none{
    display: none;
}