*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

  }
  ::-webkit-scrollbar {
    width: 0.1px;
  }
  
  @import 'colors';
  @import 'typography';
  @import 'main-layout';
  @import 'dropdown';
  @import 'call-evt';
  @import 'dialer';
  @import 'incall';
  @import 'login';